body {
  background: black;
  color: white;
  font-family: monospace;
  margin: 0;
}
.terminal {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}
.input-line {
  display: flex;
}
.prompt {
  margin-right: 5px;
}
.error {
  color: red;
}
.ascii {
  white-space: pre;
  font-size: 11px;
  line-height: 1.1em;
  margin-bottom: 1em;
  text-align: left;
}