body {
  background: black;
  color: white;
  font-family: monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px; 
  height: auto;
  margin-bottom: 1rem;
}

.caption {
  font-size: 1rem;
  color: #ccc;
  text-align: center;
  white-space: pre-line;
  max-height: 30vh;
  overflow: hidden;
}
